{
  "globals": {
    "describe": true,
    "context": true,
    "it": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "process": true
  },
  "extends": "vue",
  "rules": {
    "no-inline-comments": 0,
    "object-curly-spacing": ["error", "always"],
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-new": 0
  }
}
