{
  "env": {
    "browser": true,
    "mocha": true
  },
  "globals": {
    "waitForUpdate": true,
    "nextTick": true,
    "delay": true,
    "assert": true,
    "Vue": true,
    "VueI18n": true
  }
}
