{
  "presets": ["@vue/app"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-flow",
    "@babel/plugin-transform-flow-strip-types",
    "babel-plugin-espower"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"],
      "presets": ["power-assert"]
    }
  },
  "ignore": [
    "dist/*.js"
  ]
}
